:root {
    /** Theme primary colors */
    --primary-a10: #bc6205;
    --primary-a30: #854402;
    --primary-a50: #532801;

    /** Theme surface colors */
    --surface-a10: #f2f2f2;
    --surface-a30: #d7d7d7;
    --surface-a50: #bdbdbd;
}
