@import "../theme/theme.css";
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    font: 24px 'Hanken Grotesk', sans-serif;
    line-height: 1.4em;
    background: var(--surface-a10);
    color: var(--primary-a30);
    font-weight: 300;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
}

.border-box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4em;
    border: 1px solid var(--surface-a50);
    padding: 0.6em;
    border-radius: 0.2em;
    gap: 0.5em;
}

#todoapp {
    margin: 1em auto;
    width: 100%;
    max-width: 672px;
    box-sizing: border-box;
}

/*Header*/
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 672px;
}

.hero {
    width: 100%;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-section {
    flex: 1;
}

.info-section h1 {
    font-size: 56px;
    font-weight: 100;
    margin-bottom: 0.2em;
    color: black;
}

.info-section p {
    font-size: 16px;
    font-weight: 100;
    margin: 0;
    color: var(--primary-a50);
}

.add-section {
    margin-bottom: 1em ;
  
}

.add-section .add-icon {
    height: 100%;
    color: var(--primary-a30);
    font-size: 42px;
    text-align: center;
    flex: 1;
    line-height: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.input-add {
    height: 100%;
    flex: 7;
    border-bottom: 1px solid var(--primary-a30);
    border-top: none;   
    border-left: none;
    border-right: none;
    background-color: var(--surface-a10);
    font-size: 100%;
}

.input:focus {
    outline: none;
}

.button-add {
    flex: 1;
    height: 100%;
    padding: 0.4em 0.6em;
    font-size: 100%;
    font-family: inherit;
    font-weight: inherit;
    color: var(--surface-a10);
    background-color: var(--primary-a30);
    border: none;
    border-radius: 0.2em;
}

.button-add:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.find-section {
    position: relative;
    flex: 0 0 3em;
    width: 50%;
    height: 50%;
    overflow: hidden;
    flex-direction: row-reverse;
    border-color: transparent;

    transition:
        flex-basis 0.35s ease 0.15s,
        border-color 0s linear 0.5s;
}

.find-section:hover,
.find-section:focus-within {
    flex-basis: 50%;
    border-color: var(--primary-a30);

    transition:
        border-color 0s linear 0.15s,
        flex-basis 0.35s ease 0.15s;
}

.input-find {
    flex: 1;
    min-width: 0;
    height: 100%;
    font-size: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--primary-a30);

    opacity: 0;
    visibility: hidden;
    transform: translateX(20px);
    pointer-events: none;

    transition:
        opacity 0.15s ease,
        transform 0.15s ease,
        visibility 0s linear 0.15s;
}


.find-section:hover .input-find,
.find-section:focus-within .input-find {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: auto;

    transition:
        opacity 0.2s ease 0.5s,
        transform 0.2s ease 0.5s,
        visibility 0s linear 0.5s;
}

.find-section .find-icon {
    position: absolute;
    inset: 0.6em;
    width: auto;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-a30);
    color: var(--surface-a30);
    border-radius: 0.2em;

    transition:
        opacity 0.15s ease 0.5s,
        visibility 0s linear 0.5s;
}

.find-section:hover .find-icon,
.find-section:focus-within .find-icon {
    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.15s ease,
        visibility 0s linear 0.15s;
}



/*Main*/


/*List*/
.todo-list {
    list-style-type: none;
    font-size: 24px;
    max-height: 50vh;
    padding: 0;
    overflow-y: auto;
}

.todo-item{
    display: flex;
    align-items: center;
    margin-bottom: 0.3em;
    height: 3em;
}

.checkbox {
    appearance: none;
    /* flex: 0.5; */
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border: 2px solid var(--primary-a30);
    cursor: pointer;
    border-radius: 0.2em;
}

.checkbox:checked {
    background-color: var(--primary-a30);
}

.checkbox:checked::after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    margin: 3px auto;
    border: solid white; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox:checked + .todo-desc .todo-desc-text::after {
    width: 100%;
}

.todo-desc {
    display: flex;
    margin: 0;
    flex: 10;
    height: 100%;
    align-items: center;
    overflow-x: scroll;
    white-space: nowrap;
}

.todo-desc-text {
    position: relative;
    display: inline-block;
}

.todo-desc-text::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 2px;
    background-color: gray;
    transform: translateY(-50%);
    transition: width 0.3s ease-in-out;
}

li.todo-item.completed .todo-desc-text::after {
    width: 100%;
}

.button-delete {
   border: none;
   flex: 0.5;
   height: 100%;
   background-color: var(--surface-a10);
}

.button-delete .delete-icon {
   font-size: 32px;
   color: var(--primary-a10);
}

.delete-icon:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-link {
    border: none;
    background-color: var(--surface-a10);
    color: var(--primary-a30);
    font-size: 16px;
    padding: 0.2em 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-a30);
    border-top: none;
    border-left: none;
    border-right: none;
}

.button-text:hover {
    cursor: pointer;
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

.all-icons{
    margin-right: 0.2em;
}

